
.middle{
  /* position: absolute;
  top: 40%;
  left: 50%; */
  margin: 20% 0;
  /* transform: translate(-50%,-50%); */
  /* display: inline; */
}
.headdiv{
  margin-bottom: 100px;
}
.headone{
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: black;
}

.btnz{
 
  position: relative;
  display: inline;
  color: black;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  margin: 30px 30px;
  border: 2px solid #380ece;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  border-radius: 6px;

}
.btnz::before{
  background: rgb(226, 226, 17);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: -1;
  transition: all 0.6s ease;
  text-decoration: none;
}

.btn1::before{
  width: 0%;
  height: 100%;
  text-decoration: none;
}

.btn1:hover::before{
  text-decoration: none;
  width: 100%;
}


.btn2::before{
  width: 100%;
  height: 0%;
  text-decoration: none;
}
.btn2:hover::before{
  height: 100%;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .btnz {
    display: block;
  }
}